<form action="/api/users" method="post" id="add_user">
    <div class="form-body">
        <h4>User Register</h4>
        <input class="input-field" type="text" name="name" id="name" placeholder="Enter Name...">
        <input class="input-field" type="email" name="email" id="email" placeholder="Enter Email...">
        <input class="input-field" type="text" name="contact" id="contact" placeholder="Enter Contact...">
        <div class="gender">
            <label>Gender : </label>
            <input type="radio" name="gender" id="Male" value="Male"><span>Male</span>
            <input type="radio" name="gender" id="Female" value="Female"><span>Female</span>
        </div>

        <input class="input-field" type="submit" class="btn btn-warning submit">
</form>