<%- include('partials/_header')%>
    <a href="/" class="btn btn-primary link">All Users</a>
    <!-- Table section -->
    <div class="body-form">
        <!-- <a href="/add-user" class="btn btn-primary link">Add User</a> -->
        <%- include('partials/_form')%>
    </div>

    <%- include('partials/_footer')%>